# Ignore everything produced by pdflatex.
*.aux
*.bbl
*.bcf
*.bib
*.blg
*.log
*.out
*.pdf
*.xml
*.toc

# Ignore images.
*.jpeg
*.jpg
*.png

# Ignore raw references files.
*.csv

# Misc.
.notags
*.pages
*.swp

